APP_NAME=public-api-strangler
GRAPHITE_SERVER=graphite.int-test.s-cloud.net:2003
PORT=5000
TELE_PORT=5001
GRAPHITE_FLUSH_INTERVAL=60000
ZIPKIN_HOST=zipkin-bff.int-test.s-cloud.net
ZIPKIN_PORT=9410
MOTHERSHIP_API_SERVER=api-lb.r.int-test.s-cloud.net:80