.env
*#*
*.dat
*elc
*~
.DS_Store
.history
.lib
.newsrc-dribble
.nnmail-cache
.smex-items
.svn
¯/#.newsrc-dribble#
\#*
abbrev_defs
auto-save-list
backups/*
boot
custom.el
deps
elim/
image-dired/
loaddefs.el*
oddmuse/*
packs/template
places
session*
sk-old
swank/*
target
thumbs/*
tmp/*
tramp
url/cookies
logs
.classpath
.project
.idea/*
.idea_modules
.settings
.cache
*.iml
*.patch
production.json
staging.json
.install.jre
.java-version
.ivy2
.sbt
plumber
bazooka-target
production.overrides
