openapi: 3.0.1
info:
  title: SoundCloud Public API Specification
  contact:
    name: API issue tracker
    url: https://github.com/soundcloud/api
  version: 1.0.0
  termsOfService: https://developers.soundcloud.com/docs/api/terms-of-use
servers:
  - url: https://api.soundcloud.com
tags:
  - name: oauth
    description: Authentication and Authorization Endpoints.
  - name: me
    description: Own User Endpoints.
  - name: search
    description: Search Endpoints.
  - name: playlists
    description: Playlists Endpoints.
  - name: tracks
    description: Tracks Endpoints.
  - name: users
    description: SoundCloud Users Endpoints.
  - name: likes
    description: Liking Tracks & Playlists.
  - name: reposts
    description: Reposting Tracks & Playlists.
  - name: miscellaneous
    description: Miscellaneous Endpoints.
paths:
  /connect:
    get:
      summary: The OAuth2 authorization endpoint. Your app redirects a user to this endpoint, allowing them to delegate access to their account.
      description: >
        <h3>Security Advice</h3>

        * [OAuth Authorization Code flow](https://datatracker.ietf.org/doc/html/draft-ietf-oauth-security-topics-16#section-2.1.1) (`response_type=code`)
        is the only allowed method of authorization.

        * Use the `state` parameter for [CSRF protection](https://tools.ietf.org/html/draft-ietf-oauth-security-topics-16#section-4.7). Pass a sufficient 
        random nonce here and verify this nonce again after retrieving the token.
      tags:
        - oauth
      security:
        - ClientId: [ ]
          AuthHeader: [ ]
      parameters:
        - $ref: '#/components/parameters/client_id'
        - $ref: '#/components/parameters/redirect_uri'
        - $ref: '#/components/parameters/response_type'
        - $ref: '#/components/parameters/scope'
        - $ref: '#/components/parameters/state'
      responses:
        302:
          $ref: '#/components/responses/FoundHtml'
        401:
          $ref: '#/components/responses/Unauthorized'
  /oauth2/token:
    post:
      summary: This endpoint accepts POST requests and is used to provision access tokens once a user has authorized your application.
      tags:
        - oauth
      security:
        - ClientId: [ ]
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              oneOf:
                - $ref: '#/components/schemas/AuthorizationCode'
                - $ref: '#/components/schemas/RefreshToken'
                - $ref: '#/components/schemas/ClientCredentials'
            examples:
              AuthorizationCode:
                $ref: '#/components/examples/AuthorizationCode'
              ClientCredentials:
                $ref: '#/components/examples/ClientCredentials'
              RefreshToken:
                $ref: '#/components/examples/RefreshToken'
      responses:
        200:
          description: Success
          content:
            application/json; charset=utf-8:
              examples:
                ExpiringToken:
                  $ref: "#/components/examples/ExpiringToken"
                NonExpiringToken:
                  $ref: "#/components/examples/NonExpiringToken"
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Error'
              examples:
                ErrorInvalidGrant:
                  $ref: "#/components/examples/ErrorInvalidGrant"
                ErrorUnsupportedGrant:
                  $ref: "#/components/examples/ErrorUnsupportedGrant"
                BadRequest:
                  $ref: "#/components/examples/BadRequest"
        401:
          $ref: '#/components/responses/Unauthorized'
  /me:
    get:
      summary: Returns the authenticated user’s information.
      tags:
        - me
      security:
        - AuthHeader: [ ]
      responses:
        200:
          $ref: '#/components/responses/Me'
        401:
          $ref: '#/components/responses/Unauthorized'
  /me/activities:
    get:
      summary: Returns the authenticated user's activities.
      tags:
        - me
      security:
        - AuthHeader: [ ]
      parameters:
        - $ref: '#/components/parameters/access'
        - $ref: '#/components/parameters/limit'
      responses:
        200:
          $ref: "#/components/responses/Activities"
        401:
          $ref: '#/components/responses/Unauthorized'
  /me/activities/all/own:
    get:
      summary: Recent the authenticated user's activities.
      tags:
        - me
      security:
        - AuthHeader: [ ]
      parameters:
        - $ref: '#/components/parameters/access'
        - $ref: '#/components/parameters/limit'
      responses:
        200:
          $ref: "#/components/responses/Activities"
        401:
          $ref: '#/components/responses/Unauthorized'
  /me/activities/tracks:
    get:
      summary: Returns the authenticated user's recent track related activities.
      tags:
        - me
      security:
        - AuthHeader: [ ]
      parameters:
        - $ref: '#/components/parameters/access'
        - $ref: '#/components/parameters/limit'
      responses:
        200:
          $ref: "#/components/responses/Activities"
        401:
          $ref: '#/components/responses/Unauthorized'
  /me/connections:
    get:
      summary: Returns a list of the authenticated user's connected social accounts.
      tags:
        - me
      security:
        - AuthHeader: [ ]
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        200:
          $ref: '#/components/responses/Connections'
        401:
          $ref: '#/components/responses/Unauthorized'
  /me/connections/{connection_id}:
    get:
      summary: Returns the authenticated user's connected social account.
      tags:
        - me
      security:
        - AuthHeader: [ ]
      parameters:
        - $ref: '#/components/parameters/connection_id'
      responses:
        200:
          $ref: '#/components/responses/Connection'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
  /me/likes/tracks:
    get:
      summary: Returns a list of favorited or liked tracks of the authenticated user.
      tags:
        - me
      security:
        - AuthHeader: [ ]
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/linked_partitioning'
      responses:
        200:
          $ref: "#/components/responses/Tracks"
        401:
          $ref: '#/components/responses/Unauthorized'
  /me/likes/playlists:
    get:
      summary: Returns a list of favorited or liked playlists of the authenticated user.
      tags:
        - me
      security:
        - AuthHeader: [ ]
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/linked_partitioning'
      responses:
        200:
          $ref: "#/components/responses/Playlists"
        401:
          $ref: '#/components/responses/Unauthorized'
  /me/followings:
    get:
      summary: Returns a list of users who are followed by the authenticated user.
      tags:
        - me
      security:
        - AuthHeader: [ ]
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        200:
          $ref: "#/components/responses/Users"
        401:
          $ref: '#/components/responses/Unauthorized'
  /me/followings/tracks:
    get:
      summary: Returns a list of recent tracks from users followed by the authenticated user.
      tags:
        - me
      security:
        - AuthHeader: [ ]
      parameters:
        - $ref: '#/components/parameters/access'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        200:
          $ref: "#/components/responses/TracksList"
        401:
          $ref: '#/components/responses/Unauthorized'
  /me/followings/{user_id}:
    get:
      summary: Returns a user who is followed by the authenticated user. (use /users/{user_id} instead, to fetch the user details)
      deprecated: true
      tags:
        - me
      security:
        - AuthHeader: [ ]
      parameters:
        - $ref: '#/components/parameters/user_id'
      responses:
        200:
          $ref: '#/components/responses/User'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
    put:
      summary: Follows a user.
      tags:
        - me
      security:
        - AuthHeader: [ ]
      parameters:
        - $ref: '#/components/parameters/user_id_to_follow'
      responses:
        200:
          $ref: '#/components/responses/Successful'
        201:
          $ref: '#/components/responses/User'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
    delete:
      summary: Deletes a user who is followed by the authenticated user.
      tags:
        - me
      security:
        - AuthHeader: [ ]
      parameters:
        - $ref: '#/components/parameters/user_id_to_follow'
      responses:
        200:
          description: Success
          content:
            application/json; charset=utf-8:
              examples:
                200:
                  $ref: '#/components/examples/OK'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /me/followers:
    get:
      summary: Returns a list of users who are following the authenticated user.
      tags:
        - me
      security:
        - AuthHeader: [ ]
      parameters:
        - $ref: '#/components/parameters/limit'
      responses:
        200:
          $ref: "#/components/responses/Users"
        401:
          $ref: '#/components/responses/Unauthorized'
  /me/followers/{follower_id}:
    get:
      summary: Returns a user who is following the authenticated user. (use /users/{user_id} instead, to fetch the user details)
      deprecated: true
      tags:
        - me
      security:
        - AuthHeader: [ ]
      parameters:
        - $ref: '#/components/parameters/follower_id'
      responses:
        200:
          $ref: '#/components/responses/User'
        401:
          $ref: '#/components/responses/Unauthorized'
  /me/playlists:
    get:
      summary: Returns user’s playlists (sets).
      description: Returns playlist info, playlist tracks and tracks owner info.
      tags:
        - me
      security:
        - AuthHeader: [ ]
      parameters:
        - $ref: '#/components/parameters/show_tracks'
        - $ref: '#/components/parameters/linked_partitioning'
        - $ref: '#/components/parameters/limit'
      responses:
        200:
          $ref: "#/components/responses/Playlists"
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
  /me/tracks:
    get:
      summary: Returns a list of user's tracks.
      tags:
        - me
      security:
        - AuthHeader: [ ]
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/linked_partitioning'
      responses:
        200:
          $ref: "#/components/responses/Tracks"
        401:
          $ref: '#/components/responses/Unauthorized'
  /tracks:
    get:
      summary: Performs a track search based on a query
      tags:
        - search
      security:
        - ClientId: [ ]
          AuthHeader: [ ]
      parameters:
        - $ref: "#/components/parameters/q"
        - $ref: "#/components/parameters/ids"
        - $ref: "#/components/parameters/genres"
        - $ref: "#/components/parameters/tags"
        - $ref: "#/components/parameters/bpm"
        - $ref: "#/components/parameters/duration"
        - $ref: "#/components/parameters/created_at"
        - $ref: '#/components/parameters/access'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/linked_partitioning'
      responses:
        200:
          $ref: "#/components/responses/Tracks"
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        500:
          description: Internal Server Error
    post:
      summary: Uploads a new track.
      tags:
        - tracks
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TrackDataRequest'
              required:
                - track[title]
                - track[asset_data]
            examples:
              default:
                $ref: '#/components/examples/TrackDataRequest'
          multipart/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TrackDataRequest'
              required:
                - track[title]
                - track[asset_data]
      security:
        - ClientId: [ ]
          AuthHeader: [ ]
      responses:
        201:
          $ref: '#/components/responses/Track'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
  /playlists:
    get:
      summary: Performs a playlist search based on a query
      tags:
        - search
      security:
        - ClientId: [ ]
          AuthHeader: [ ]
      parameters:
        - $ref: "#/components/parameters/q"
        - $ref: '#/components/parameters/access'
        - $ref: '#/components/parameters/show_tracks'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/linked_partitioning'
      responses:
        200:
          $ref: "#/components/responses/Playlists"
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
    post:
      summary: Creates a playlist.
      tags:
        - playlists
      security:
        - AuthHeader: [ ]
      requestBody:
        description: Create Playlist request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUpdatePlaylistRequest'
            examples:
              default:
                $ref: "#/components/examples/CreateUpdatePlaylistRequest"
      responses:
        201:
          $ref: "#/components/responses/LegacyPlaylist"
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
  /users:
    get:
      summary: Performs a user search based on a query
      tags:
        - search
      security:
        - ClientId: [ ]
          AuthHeader: [ ]
      parameters:
        - $ref: "#/components/parameters/q"
        - $ref: "#/components/parameters/ids"
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/linked_partitioning'
      responses:
        200:
          $ref: "#/components/responses/Users"
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
  /playlists/{playlist_id}:
    get:
      summary: Returns a playlist.
      tags:
        - playlists
      security:
        - ClientId: [ ]
          AuthHeader: [ ]
      parameters:
        - $ref: "#/components/parameters/playlist_id"
        - $ref: "#/components/parameters/secret_token"
        - $ref: "#/components/parameters/access"
        - $ref: "#/components/parameters/show_tracks"
      responses:
        200:
          $ref: "#/components/responses/Playlist"
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
    put:
      summary: Updates a playlist.
      tags:
        - playlists
      security:
        - AuthHeader: [ ]
      parameters:
        - $ref: "#/components/parameters/fake_playlist_id"
      requestBody:
        description: Playlist payload
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUpdatePlaylistRequest'
            examples:
              default:
                $ref: "#/components/examples/CreateUpdatePlaylistRequest"
      responses:
        200:
          $ref: "#/components/responses/LegacyPlaylist"
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
    delete:
      summary: Deletes a playlist.
      tags:
        - playlists
      security:
        - ClientId: [ ]
          AuthHeader: [ ]
      parameters:
        - $ref: "#/components/parameters/fake_playlist_id"
      responses:
        200:
          description: Success
        404:
          $ref: '#/components/responses/NotFound'
  /playlists/{playlist_id}/tracks:
    get:
      summary: Returns tracks under a playlist.
      tags:
        - playlists
      security:
        - ClientId: [ ]
          AuthHeader: [ ]
      parameters:
        - $ref: "#/components/parameters/playlist_id"
        - $ref: "#/components/parameters/secret_token"
        - $ref: "#/components/parameters/access"
        - $ref: "#/components/parameters/linked_partitioning"
      responses:
        200:
          $ref: "#/components/responses/Tracks"
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
  /playlists/{playlist_id}/reposters:
    get:
      summary: Returns a collection of playlist's reposters.
      tags:
        - playlists
      security:
        - ClientId: [ ]
      parameters:
        - $ref: '#/components/parameters/playlist_id'
        - $ref: '#/components/parameters/limit'
      responses:
        200:
          $ref: '#/components/responses/Users'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
  /tracks/{track_id}:
    get:
      summary: Returns a track.
      tags:
        - tracks
      security:
        - ClientId: [ ]
      parameters:
        - $ref: '#/components/parameters/track_id'
        - $ref: "#/components/parameters/secret_token"
      responses:
        200:
          $ref: '#/components/responses/Track'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
    put:
      summary: Updates a track's information.
      tags:
        - tracks
      security:
        - AuthHeader: [ ]
      parameters:
        - $ref: '#/components/parameters/track_id'
      requestBody:
        description: Track payload
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TrackMetadataRequest"
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TrackDataRequest'
          multipart/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TrackDataRequest'
      responses:
        200:
          $ref: '#/components/responses/Track'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
    delete:
      summary: Deletes a track.
      tags:
        - tracks
      security:
        - AuthHeader: [ ]
      parameters:
        - $ref: '#/components/parameters/track_id'
      responses:
        200:
          description: Success
        404:
          $ref: '#/components/responses/NotFound'
  /tracks/{track_id}/streams:
    get:
      summary: Returns a track's streamable URLs
      tags:
        - tracks
      security:
        - ClientId: [ ]
      parameters:
        - $ref: '#/components/parameters/track_id'
        - $ref: "#/components/parameters/secret_token"
      responses:
        200:
          $ref: '#/components/responses/Streams'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
  /tracks/{track_id}/comments:
    get:
      summary: Returns the comments posted on the track(track_id).
      tags:
        - tracks
      security:
        - ClientId: [ ]
      parameters:
        - $ref: '#/components/parameters/track_id'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/linked_partitioning'
      responses:
        200:
          $ref: '#/components/responses/Comments'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
    post:
      summary: Returns the newly created comment on success
      tags:
        - tracks
      security:
        - ClientId: [ ]
          AuthHeader: [ ]
      parameters:
        - $ref: '#/components/parameters/track_id'
      requestBody:
        description: |
          Body of a comment
        required: true
        content:
          application/json; charset=utf-8:
            schema:
              type: object
              properties:
                comment:
                  type: object
                  properties:
                    body:
                      type: string
                      description: Comment's content
                      example: test comment
                    timestamp:
                      description: Timestamp of a comment. String or float representation is supported
                      oneOf:
                        - type: string
                        - type: number
                  required:
                    - body
      responses:
        201:
          $ref: '#/components/responses/Comment'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
        429:
          $ref: '#/components/responses/TooManyRequests'
  /tracks/{track_id}/favoriters:
    get:
      summary: Returns a list of users who have favorited or liked the track.
      tags:
        - tracks
      security:
        - ClientId: [ ]
      parameters:
        - $ref: '#/components/parameters/track_id'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/linked_partitioning'
      responses:
        200:
          $ref: "#/components/responses/Users"
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
  /tracks/{track_id}/reposters:
    get:
      summary: Returns a collection of track's reposters.
      tags:
        - tracks
      security:
        - ClientId: [ ]
      parameters:
        - $ref: '#/components/parameters/track_id'
        - $ref: '#/components/parameters/limit'
      responses:
        200:
          $ref: '#/components/responses/Users'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
  /tracks/{track_id}/related:
    get:
      summary: Returns all related tracks of track on SoundCloud.
      tags:
        - tracks
      security:
        - ClientId: [ ]
      parameters:
        - $ref: '#/components/parameters/track_id'
        - $ref: '#/components/parameters/access'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/linked_partitioning'
      responses:
        200:
          $ref: '#/components/responses/Tracks'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
  /resolve:
    get:
      summary: Resolves soundcloud.com URLs to Resource URLs to use with the API.
      tags:
        - miscellaneous
      security:
        - ClientId: [ ]
          AuthHeader: [ ]
      parameters:
        - $ref: '#/components/parameters/url'
      responses:
        302:
          $ref: "#/components/responses/Found"
  /users/{user_id}:
    get:
      summary: Returns a user.
      tags:
        - users
      security:
        - ClientId: [ ]
          AuthHeader: [ ]
      parameters:
        - $ref: '#/components/parameters/user_id'
      responses:
        200:
          $ref: '#/components/responses/User'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
  /users/{user_id}/comments:
    get:
      summary: Returns a list of user's comments.
      tags:
        - users
      security:
        - ClientId: [ ]
          AuthHeader: [ ]
      parameters:
        - $ref: '#/components/parameters/user_id'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        200:
          $ref: "#/components/responses/CommentsList"
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
  /users/{user_id}/favorites:
    get:
      summary: Returns a list of user's favorited or liked tracks. (use /users/:userId/likes/tracks instead, to fetch a user's likes)
      deprecated: true
      tags:
        - users
      security:
        - ClientId: [ ]
          AuthHeader: [ ]
      parameters:
        - $ref: '#/components/parameters/user_id'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/linked_partitioning'
      responses:
        200:
          $ref: "#/components/responses/Tracks"
        401:
          $ref: '#/components/responses/Unauthorized'
  /users/{user_id}/followers:
    get:
      summary: Returns a list of user’s followers.
      description: Returns a list of users that follows (user_id).
      tags:
        - users
      security:
        - ClientId: [ ]
          AuthHeader: [ ]
      parameters:
        - $ref: '#/components/parameters/user_id'
        - $ref: '#/components/parameters/limit'
      responses:
        200:
          $ref: "#/components/responses/Users"
        401:
          $ref: '#/components/responses/Unauthorized'
  /users/{user_id}/followings:
    get:
      summary: Returns a list of user’s followings.
      description: Returns list of users that (user_id) follows.
      tags:
        - users
      security:
        - ClientId: [ ]
          AuthHeader: [ ]
      parameters:
        - $ref: '#/components/parameters/user_id'
        - $ref: '#/components/parameters/limit'
      responses:
        200:
          $ref: "#/components/responses/Users"
        401:
          $ref: '#/components/responses/Unauthorized'
  /users/{user_id}/followings/{following_id}:
    get:
      summary: Returns a user's following. (use /users/{user_id} instead, to fetch the user details)
      description: Returns (following_id) that is followed by (user_id).
      deprecated: true
      tags:
        - users
      security:
        - ClientId: [ ]
          AuthHeader: [ ]
      parameters:
        - $ref: '#/components/parameters/user_id'
        - $ref: '#/components/parameters/following_id'
      responses:
        200:
          $ref: '#/components/responses/User'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
  /users/{user_id}/playlists:
    get:
      summary: Returns a list of user's playlists.
      tags:
        - users
      security:
        - ClientId: [ ]
          AuthHeader: [ ]
      parameters:
        - $ref: '#/components/parameters/user_id'
        - $ref: '#/components/parameters/access'
        - $ref: "#/components/parameters/show_tracks"
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/linked_partitioning'
      responses:
        200:
          $ref: "#/components/responses/Playlists"
        401:
          $ref: '#/components/responses/Unauthorized'
  /users/{user_id}/tracks:
    get:
      summary: Returns a list of user's tracks.
      tags:
        - users
      security:
        - ClientId: [ ]
          AuthHeader: [ ]
      parameters:
        - $ref: '#/components/parameters/user_id'
        - $ref: '#/components/parameters/access'
        - $ref: '#/components/parameters/limit'
        - $ref: "#/components/parameters/linked_partitioning"
      responses:
        200:
          $ref: "#/components/responses/Tracks"
        401:
          $ref: '#/components/responses/Unauthorized'
  /users/{user_id}/web-profiles:
    get:
      summary: Returns list of user's links added to their profile (website, facebook, instagram).
      tags:
        - users
      security:
        - ClientId: [ ]
          AuthHeader: [ ]
      parameters:
        - $ref: '#/components/parameters/user_id'
        - $ref: '#/components/parameters/limit'
      responses:
        200:
          $ref: '#/components/responses/WebProfiles'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
  /users/{user_id}/likes/tracks:
    get:
      summary: Returns a list of user's liked tracks.
      tags:
        - users
      security:
        - ClientId: [ ]
          AuthHeader: [ ]
      parameters:
        - $ref: '#/components/parameters/user_id'
        - $ref: '#/components/parameters/access'
        - $ref: '#/components/parameters/limit'
        - $ref: "#/components/parameters/linked_partitioning"
      responses:
        200:
          $ref: "#/components/responses/Tracks"
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
  /users/{user_id}/likes/playlists:
    get:
      summary: Returns a list of user's liked playlists.
      tags:
        - users
      security:
        - ClientId: [ ]
          AuthHeader: [ ]
      parameters:
        - $ref: '#/components/parameters/user_id'
        - $ref: '#/components/parameters/limit'
        - $ref: "#/components/parameters/linked_partitioning"
      responses:
        200:
          $ref: "#/components/responses/Playlists"
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
  /likes/tracks/{track_id}:
    post:
      summary: Likes a track.
      tags:
        - likes
      security:
        - AuthHeader: [ ]
      parameters:
        - $ref: '#/components/parameters/test_track_id'
      responses:
        200:
          $ref: '#/components/responses/Success'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        429:
          $ref: '#/components/responses/TooManyRequests'
    delete:
      summary: Unlikes a track.
      tags:
        - likes
      security:
        - AuthHeader: [ ]
      parameters:
        - $ref: '#/components/parameters/test_track_id'
      responses:
        200:
          $ref: '#/components/responses/Success'
        400:
          $ref: '#/components/responses/BadRequest'
        404:
          $ref: '#/components/responses/NotFound'
  /likes/playlists/{playlist_id}:
    post:
      summary: Likes a playlist.
      tags:
        - likes
      security:
        - AuthHeader: [ ]
      parameters:
        - $ref: '#/components/parameters/playlist_id'
      responses:
        200:
          $ref: '#/components/responses/Success'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        429:
          $ref: '#/components/responses/TooManyRequests'
    delete:
      summary: Unlikes a playlist.
      tags:
        - likes
      security:
        - AuthHeader: [ ]
      parameters:
        - $ref: '#/components/parameters/playlist_id'
      responses:
        200:
          $ref: '#/components/responses/Success'
        400:
          $ref: '#/components/responses/BadRequest'
        404:
          $ref: '#/components/responses/NotFound'
  /reposts/tracks/{track_id}:
    post:
      summary: Reposts a track as the authenticated user
      tags:
        - reposts
      security:
        - AuthHeader: [ ]
      parameters:
        - $ref: '#/components/parameters/test_track_id'
      responses:
        201:
          description: Created
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
    delete:
      summary: Removes a repost on a track as the authenticated user
      tags:
        - reposts
      security:
        - AuthHeader: [ ]
      parameters:
        - $ref: '#/components/parameters/test_track_id'
      responses:
        200:
          description: Success
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
  /reposts/playlists/{playlist_id}:
    post:
      summary: Reposts a playlist as the authenticated user
      tags:
        - reposts
      security:
        - AuthHeader: [ ]
      parameters:
        - $ref: '#/components/parameters/repost_playlist_id'
      responses:
        201:
          description: Created
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
    delete:
      summary: Removes a repost on a playlist as the authenticated user
      tags:
        - reposts
      security:
        - AuthHeader: [ ]
      parameters:
        - $ref: '#/components/parameters/repost_playlist_id'
      responses:
        200:
          description: Success
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    $ref: './components/parameters.yaml'
  securitySchemes:
    $ref: './components/securitySchemes.yaml'
  schemas:
    AuthorizationCode:
      $ref: './components/schemas/AuthorizationCode.yaml'
    RefreshToken:
      $ref: './components/schemas/RefreshToken.yaml'
    ClientCredentials:
      $ref: './components/schemas/ClientCredentials.yaml'
    Connection:
      $ref: './components/schemas/Connection.yaml'
    Connections:
      type: array
      items:
        $ref: '#/components/schemas/Connection'
    TrackMetadataRequest:
      $ref: './components/schemas/TrackMetadataRequest.yaml'
    CreateUpdatePlaylistRequest:
      $ref: './components/schemas/CreateUpdatePlaylistRequest.yaml'
    TrackDataRequest:
      $ref: './components/schemas/TrackDataRequest.yaml'
    Found:
      type: object
      properties:
        status:
          type: string
          description: Status code.
        location:
          type: string
          description: Location URL of the resource.
    Error:
      $ref: './components/schemas/Error.yaml'
    TooManyRequests:
      allOf:
        - $ref: '#/components/schemas/Error'
        - type: object
          properties:
            spam_warning_urn:
              type: string
    User:
      $ref: './components/schemas/User.yaml'
    Me:
      $ref: './components/schemas/Me.yaml'
    Users:
      type: object
      properties:
        collection:
          type: array
          items:
            $ref: '#/components/schemas/User'
        next_href:
          type: string
    Track:
      $ref: './components/schemas/Track.yaml'
    Tracks:
      type: object
      properties:
        collection:
          type: array
          items:
            $ref: '#/components/schemas/Track'
        next_href:
          type: string
    TracksList:
      deprecated: true
      type: array
      items:
        $ref: '#/components/schemas/Track'
    Playlist:
      $ref: './components/schemas/Playlist.yaml'
    Playlists:
      type: object
      properties:
        collection:
          type: array
          items:
            $ref: '#/components/schemas/Playlist'
        next_href:
          type: string
    PlaylistsArray:
      deprecated: true
      type: array
      items:
        $ref: '#/components/schemas/Playlist'
    Activities:
      $ref: './components/schemas/Activities.yaml'
    WebProfiles:
      $ref: './components/schemas/WebProfiles.yaml'
    Comment:
      $ref: './components/schemas/Comment.yaml'
    Comments:
      type: object
      properties:
        collection:
          type: array
          items:
            $ref: '#/components/schemas/Comment'
        next_href:
          type: [ string, null ]
    CommentsList:
      deprecated: true
      type: array
      items:
        $ref: '#/components/schemas/Comment'
    Streams:
      $ref: './components/schemas/Streams.yaml'
  responses:
    $ref: './components/responses.yaml'
  examples:
    AuthorizationCode:
      $ref: './components/examples/AuthorizationCode.yaml'
    ClientCredentials:
      $ref: './components/examples/ClientCredentials.yaml'
    RefreshToken:
      $ref: './components/examples/RefreshToken.yaml'
    Activities:
      $ref: './components/examples/Activities.yaml'
    ExpiringToken:
      $ref: './components/examples/ExpiringToken.yaml'
    NonExpiringToken:
      $ref: './components/examples/NonExpiringToken.yaml'
    CreateUpdatePlaylistRequest:
      $ref: './components/examples/CreateUpdatePlaylistRequest.yaml'
    TrackDataRequest:
      $ref: './components/examples/TrackDataRequest.yaml'
    Comment:
      $ref: './components/examples/Comment.yaml'
    Comments:
      value:
        collection:
          $ref: "#/components/examples/Comment/value"
        next_href: https://api.soundcloud.com/collection?client_id=client_id&page_size=10&cursor=1234567
    CommentsList:
      description: Deprecated, use Comments instead.
      value:
        $ref: "#/components/examples/Comment/value"
    Connection:
      $ref: './components/examples/Connection.yaml'
    Connections:
      value:
        $ref: "#/components/examples/Connection/value"
    Playlist:
      $ref: './components/examples/Playlist.yaml'
    Playlists:
      value:
        collection:
          $ref: "#/components/examples/Playlist/value"
        next_href: https://api.soundcloud.com/collection?client_id=client_id&page_size=10&cursor=1234567
    PlaylistsArray:
      description: Deprecated, use Playlists instead.
      value:
        $ref: "#/components/examples/Playlist/value"
    Streams:
      $ref: './components/examples/Streams.yaml'
    Track:
      $ref: './components/examples/Track.yaml'
    Tracks:
      value:
        collection:
          $ref: "#/components/examples/Track/value"
        next_href: https://api.soundcloud.com/collection?client_id=client_id&page_size=10&cursor=1234567
    TracksList:
      description: Deprecated, use Tracks instead.
      value:
        $ref: "#/components/examples/Track/value"
    User:
      $ref: './components/examples/User.yaml'
    UserOf:
      $ref: './components/examples/UserOf.yaml'
    Users:
      value:
        collection:
          $ref: "#/components/examples/User/value"
        next_href: https://api.soundcloud.com/collection?client_id=client_id&page_size=10&cursor=1234567
    WebProfiles:
      $ref: './components/examples/WebProfiles.yaml'
    Success:
      value:
        status: 200 - OK
    Successful:
      value:
        status: 200 - Successful
    Accepted:
      value:
        status: 202 - Accepted
    Created:
      value:
        status: 201 - Created
    ErrorInvalidGrant:
      value:
        code: 400
        message: invalid_grant
        link: https://developers.soundcloud.com/docs/api/guide#authentication
    ErrorUnsupportedGrant:
      value:
        code: 400
        message: unsupported_grant
        link: https://developers.soundcloud.com/docs/api/guide#authentication
    BadRequest:
      value:
        code: 400
        message: Detailed message of errors, when available
        link: https://developers.soundcloud.com/docs/api/explorer/open-api
    Unauthorized:
      value:
        code: 401
        message: Detailed message of errors, when available
        link: https://developers.soundcloud.com/docs/api/explorer/open-api
    Forbidden:
      value:
        code: 403
        message: Detailed message of errors, when available
        link: https://developers.soundcloud.com/docs/api/explorer/open-api
    NotFound:
      value:
        code: 404
        message: Detailed message of errors, when available
        link: https://developers.soundcloud.com/docs/api/explorer/open-api
    UnprocessableEntity:
      value:
        code: 422
        message: Detailed message of errors, when available
        link: https://developers.soundcloud.com/docs/api/explorer/open-api
    TooManyRequests:
      value:
        code: 429
        message: Detailed message of errors, when available
        spam_warning_urn: soundcloud:spam-warnings:1
        link: https://developers.soundcloud.com/docs/api/rate-limits#errors
    OK:
      value:
        status: Status(200) - OK
    TrackMetadataRequest:
      value:
        track[title]: Updated Test Track
