openapi: 3.0.4
info:
  title: SoundCloud Public API Specification
  description: |
    Swagger json can be found [here](https://developers.soundcloud.com/docs/api/explorer/api.json)

    <a href="#" id="cookie-manager">Cookie manager</a>
  contact:
    name: API issue tracker
    url: https://github.com/soundcloud/api
  version: 1.0.0
  termsOfService: https://developers.soundcloud.com/docs/api/terms-of-use
servers:
  - url: https://api.soundcloud.com
security:
  - AuthHeader: []
  - oAuth2_1: []
tags:
  - name: oauth
    description: Authentication and Authorization Endpoints.
  - name: me
    description: Own User Endpoints. Requires an access token obtained via the authorization_code flow (resource owner required).
  - name: search
    description: Search Endpoints. Supports access tokens from both authorization_code and client_credentials flows.
  - name: playlists
    description: Playlists Endpoints.
  - name: tracks
    description: Tracks Endpoints.
  - name: users
    description: SoundCloud Users Endpoints.
  - name: likes
    description: Liking Tracks & Playlists.
  - name: reposts
    description: Reposting Tracks & Playlists.
  - name: miscellaneous
    description: Miscellaneous Endpoints.
paths:
  /me:
    get:
      summary: Returns the authenticated user’s information.
      tags:
        - me
      responses:
        200:
          $ref: "#/components/responses/Me"
        401:
          $ref: "#/components/responses/Unauthorized"
  /me/activities:
    get:
      summary: Returns the authenticated user's feed
      deprecated: true
      tags:
        - me
      parameters:
        - $ref: "#/components/parameters/access"
        - $ref: "#/components/parameters/limit"
      responses:
        200:
          $ref: "#/components/responses/Activities"
        401:
          $ref: "#/components/responses/Unauthorized"
  /me/activities/all/own:
    get:
      summary: Returns the authenticated user's feed
      deprecated: true
      tags:
        - me
      parameters:
        - $ref: "#/components/parameters/access"
        - $ref: "#/components/parameters/limit"
      responses:
        200:
          $ref: "#/components/responses/Activities"
        401:
          $ref: "#/components/responses/Unauthorized"
  /me/activities/tracks:
    get:
      summary: Returns the authenticated user's recent track related feed.
      deprecated: true
      tags:
        - me
      parameters:
        - $ref: "#/components/parameters/access"
        - $ref: "#/components/parameters/limit"
      responses:
        200:
          $ref: "#/components/responses/Activities"
        401:
          $ref: "#/components/responses/Unauthorized"
  /me/feed:
    get:
      summary: Returns the authenticated user's feed.
      tags:
        - me
      parameters:
        - $ref: "#/components/parameters/access"
        - $ref: "#/components/parameters/limit"
      responses:
        200:
          $ref: "#/components/responses/Activities"
        401:
          $ref: "#/components/responses/Unauthorized"
  /me/feed/tracks:
    get:
      summary: Returns the authenticated user's recent track related feed.
      tags:
        - me
      parameters:
        - $ref: "#/components/parameters/access"
        - $ref: "#/components/parameters/limit"
      responses:
        200:
          $ref: "#/components/responses/Activities"
        401:
          $ref: "#/components/responses/Unauthorized"
  /me/recently-played/tracks:
    get:
      summary: Returns the authenticated user's last 25 recently played tracks.
      description: Returns up to 25 full track objects in reverse chronological order. Duplicate tracks are omitted, keeping only the most recent play. Tracks that are not visible to the caller are omitted. This endpoint does not support pagination or a `limit` query parameter.
      tags:
        - me
      parameters:
        - $ref: "#/components/parameters/access_explicit"
      responses:
        200:
          $ref: "#/components/responses/Tracks"
        401:
          $ref: "#/components/responses/Unauthorized"
  /me/likes/tracks:
    get:
      summary: Returns a list of favorited or liked tracks of the authenticated user.
      tags:
        - me
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/access_explicit"
        - $ref: "#/components/parameters/linked_partitioning"
      responses:
        200:
          $ref: "#/components/responses/Tracks"
        401:
          $ref: "#/components/responses/Unauthorized"
  /me/likes/playlists:
    get:
      summary: Returns a list of favorited or liked playlists of the authenticated user.
      tags:
        - me
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/linked_partitioning"
      responses:
        200:
          $ref: "#/components/responses/Playlists"
        401:
          $ref: "#/components/responses/Unauthorized"
  /me/followings:
    get:
      summary: Returns a list of users who are followed by the authenticated user.
      tags:
        - me
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
      responses:
        200:
          $ref: "#/components/responses/Users"
        401:
          $ref: "#/components/responses/Unauthorized"
  /me/followings/tracks:
    get:
      summary: Returns a list of recent tracks from users followed by the authenticated user.
      tags:
        - me
      parameters:
        - $ref: "#/components/parameters/access"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
      responses:
        200:
          $ref: "#/components/responses/TracksList"
        401:
          $ref: "#/components/responses/Unauthorized"
  /me/followings/{user_urn}:
    get:
      summary: Returns a user who is followed by the authenticated user. (use /users/{user_urn} instead, to fetch the user details)
      deprecated: true
      tags:
        - me
      parameters:
        - $ref: "#/components/parameters/user_urn"
      responses:
        200:
          $ref: "#/components/responses/User"
        401:
          $ref: "#/components/responses/Unauthorized"
        404:
          $ref: "#/components/responses/NotFound"
    put:
      summary: Follows a user.
      tags:
        - me
      parameters:
        - $ref: "#/components/parameters/user_urn_to_follow"
      responses:
        200:
          $ref: "#/components/responses/Successful"
        201:
          $ref: "#/components/responses/User"
        401:
          $ref: "#/components/responses/Unauthorized"
        404:
          $ref: "#/components/responses/NotFound"
    delete:
      summary: Deletes a user who is followed by the authenticated user.
      tags:
        - me
      parameters:
        - $ref: "#/components/parameters/user_urn_to_follow"
      responses:
        200:
          description: Success
          content:
            application/json; charset=utf-8:
              examples:
                200:
                  $ref: "#/components/examples/OK"
        401:
          $ref: "#/components/responses/Unauthorized"
        404:
          $ref: "#/components/responses/NotFound"
        422:
          $ref: "#/components/responses/UnprocessableEntity"
  /me/followers:
    get:
      summary: Returns a list of users who are following the authenticated user.
      tags:
        - me
      parameters:
        - $ref: "#/components/parameters/limit"
      responses:
        200:
          $ref: "#/components/responses/Users"
        401:
          $ref: "#/components/responses/Unauthorized"
  /me/followers/{follower_urn}:
    get:
      summary: Returns a user who is following the authenticated user. (use /users/{user_urn} instead, to fetch the user details)
      deprecated: true
      tags:
        - me
      parameters:
        - $ref: "#/components/parameters/follower_urn"
      responses:
        200:
          $ref: "#/components/responses/User"
        401:
          $ref: "#/components/responses/Unauthorized"
  /me/playlists:
    get:
      summary: Returns user’s playlists (sets).
      description: Returns playlist info, playlist tracks and tracks owner info.
      tags:
        - me
      parameters:
        - $ref: "#/components/parameters/show_tracks"
        - $ref: "#/components/parameters/linked_partitioning"
        - $ref: "#/components/parameters/limit"
      responses:
        200:
          $ref: "#/components/responses/Playlists"
        401:
          $ref: "#/components/responses/Unauthorized"
        404:
          $ref: "#/components/responses/NotFound"
  /me/tracks:
    get:
      summary: Returns a list of user's tracks.
      tags:
        - me
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/linked_partitioning"
      responses:
        200:
          $ref: "#/components/responses/Tracks"
        401:
          $ref: "#/components/responses/Unauthorized"
  /me/reposts/tracks:
    get:
      summary: Returns a list of track reposts of the authenticated user.
      tags:
        - me
        - reposts
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/access_explicit"
        - $ref: "#/components/parameters/linked_partitioning"
      responses:
        200:
          $ref: "#/components/responses/Tracks"
        401:
          $ref: "#/components/responses/Unauthorized"
  /me/reposts/playlists:
    get:
      summary: Returns a list of playlist reposts of the authenticated user.
      tags:
        - me
        - reposts
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/linked_partitioning"
      responses:
        200:
          $ref: "#/components/responses/Playlists"
        401:
          $ref: "#/components/responses/Unauthorized"
  /tracks:
    get:
      summary: Performs a track search based on a query
      tags:
        - search
      parameters:
        - $ref: "#/components/parameters/q"
        - $ref: "#/components/parameters/urns"
        - $ref: "#/components/parameters/genres"
        - $ref: "#/components/parameters/tags"
        - $ref: "#/components/parameters/bpm"
        - $ref: "#/components/parameters/duration"
        - $ref: "#/components/parameters/created_at"
        - $ref: "#/components/parameters/access"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/linked_partitioning"
      responses:
        200:
          $ref: "#/components/responses/Tracks"
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        500:
          description: Internal Server Error
    post:
      summary: Uploads a new track.
      tags:
        - tracks
      requestBody:
        content:
          multipart/form-data:
            schema:
              allOf:
                - $ref: "#/components/schemas/TrackDataRequest"
                - required:
                    - track[title]
                    - track[asset_data]
            examples:
              default:
                $ref: "#/components/examples/TrackDataRequest"
          multipart/x-www-form-urlencoded:
            schema:
              allOf:
                - $ref: "#/components/schemas/TrackDataRequest"
                - required:
                    - track[title]
                    - track[asset_data]
      responses:
        201:
          $ref: "#/components/responses/Track"
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        422:
          $ref: "#/components/responses/UnprocessableEntity"
  /playlists:
    get:
      summary: Performs a playlist search based on a query
      tags:
        - search
      parameters:
        - $ref: "#/components/parameters/q"
        - $ref: "#/components/parameters/access"
        - $ref: "#/components/parameters/show_tracks"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/linked_partitioning"
      responses:
        200:
          $ref: "#/components/responses/Playlists"
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
    post:
      summary: Creates a playlist.
      tags:
        - playlists
      requestBody:
        description: Create Playlist request
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateUpdatePlaylistRequest"
            examples:
              default:
                $ref: "#/components/examples/CreateUpdatePlaylistRequest"
          multipart/form-data:
            schema:
              allOf:
                - $ref: "#/components/schemas/CreateUpdatePlaylistFormRequest"
                - required:
                    - playlist[title]
            examples:
              default:
                $ref: "#/components/examples/CreateUpdatePlaylistFormRequest"
      responses:
        201:
          $ref: "#/components/responses/Playlist"
        401:
          $ref: "#/components/responses/Unauthorized"
        404:
          $ref: "#/components/responses/NotFound"
  /users:
    get:
      summary: Performs a user search based on a query
      tags:
        - search
      parameters:
        - $ref: "#/components/parameters/q"
        - $ref: "#/components/parameters/urns"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/linked_partitioning"
      responses:
        200:
          $ref: "#/components/responses/Users"
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
  /playlists/{playlist_urn}:
    get:
      summary: Returns a playlist.
      tags:
        - playlists
      parameters:
        - $ref: "#/components/parameters/playlist_urn"
        - $ref: "#/components/parameters/secret_token"
        - $ref: "#/components/parameters/access"
        - $ref: "#/components/parameters/show_tracks"
      responses:
        200:
          $ref: "#/components/responses/Playlist"
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
    put:
      summary: Updates a playlist.
      tags:
        - playlists
      parameters:
        - $ref: "#/components/parameters/fake_playlist_urn"
      requestBody:
        description: Playlist payload
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateUpdatePlaylistRequest"
            examples:
              default:
                $ref: "#/components/examples/CreateUpdatePlaylistRequest"
      responses:
        200:
          $ref: "#/components/responses/Playlist"
        401:
          $ref: "#/components/responses/Unauthorized"
        404:
          $ref: "#/components/responses/NotFound"
    delete:
      summary: Deletes a playlist.
      tags:
        - playlists
      parameters:
        - $ref: "#/components/parameters/fake_playlist_urn"
      responses:
        200:
          description: Success
        404:
          $ref: "#/components/responses/NotFound"
  /playlists/{playlist_urn}/tracks:
    get:
      summary: Returns tracks under a playlist.
      tags:
        - playlists
      parameters:
        - $ref: "#/components/parameters/playlist_urn"
        - $ref: "#/components/parameters/secret_token"
        - $ref: "#/components/parameters/access"
        - $ref: "#/components/parameters/linked_partitioning"
      responses:
        200:
          $ref: "#/components/responses/Tracks"
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
  /playlists/{playlist_urn}/reposters:
    get:
      summary: Returns a collection of playlist's reposters.
      tags:
        - playlists
      parameters:
        - $ref: "#/components/parameters/playlist_urn"
        - $ref: "#/components/parameters/limit"
      responses:
        200:
          $ref: "#/components/responses/Users"
        401:
          $ref: "#/components/responses/Unauthorized"
        404:
          $ref: "#/components/responses/NotFound"
  /tracks/{track_urn}:
    get:
      summary: Returns a track.
      tags:
        - tracks
      parameters:
        - $ref: "#/components/parameters/track_urn"
        - $ref: "#/components/parameters/secret_token"
      responses:
        200:
          $ref: "#/components/responses/Track"
        401:
          $ref: "#/components/responses/Unauthorized"
        404:
          $ref: "#/components/responses/NotFound"
    put:
      summary: Updates a track's information.
      tags:
        - tracks
      parameters:
        - $ref: "#/components/parameters/track_urn"
      requestBody:
        description: Track payload
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TrackMetadataRequest"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/TrackUpdateFormRequest"
          multipart/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/TrackUpdateFormRequest"
      responses:
        200:
          $ref: "#/components/responses/Track"
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
    delete:
      summary: Deletes a track.
      tags:
        - tracks
      parameters:
        - $ref: "#/components/parameters/track_urn"
      responses:
        200:
          description: Success
        404:
          $ref: "#/components/responses/NotFound"
  /tracks/{track_urn}/storefront:
    put:
      summary: Creates or updates the storefront (Artist Storefront) of a track.
      description: |
        Creates or updates the storefront module shown on the track page. The request replaces
        the whole storefront: optional fields (link_title, description, price) are cleared when
        omitted, so always send every value the storefront should keep. The request fails with
        403 when the authenticated user does not own the track, and also when the user does not
        hold a creator subscription that includes external purchase options. The storefront
        links to an external page — no payment is processed by SoundCloud.
      tags:
        - tracks
      parameters:
        - $ref: "#/components/parameters/track_urn"
      requestBody:
        description: Storefront payload
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StorefrontUpdateRequest"
      responses:
        200:
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/Storefront"
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
  /tracks/{track_urn}/preview:
    get:
      summary: Starts playback of a preview of the track
      tags:
        - tracks
      parameters:
        - $ref: "#/components/parameters/track_urn"
        - $ref: "#/components/parameters/secret_token"
      responses:
        302:
          $ref: "#/components/responses/Found"
        401:
          $ref: "#/components/responses/Unauthorized"
        404:
          $ref: "#/components/responses/NotFound"
  /tracks/{track_urn}/streams:
    get:
      summary: Returns a track's streamable URLs (needs to keep using authentication)
      tags:
        - tracks
      parameters:
        - $ref: "#/components/parameters/track_urn"
        - $ref: "#/components/parameters/secret_token"
      responses:
        200:
          $ref: "#/components/responses/Streams"
        401:
          $ref: "#/components/responses/Unauthorized"
        404:
          $ref: "#/components/responses/NotFound"
  /tracks/{track_urn}/comments:
    get:
      summary: Returns the comments posted on the track(track_urn).
      tags:
        - tracks
      parameters:
        - $ref: "#/components/parameters/track_urn"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/linked_partitioning"
      responses:
        200:
          $ref: "#/components/responses/Comments"
        401:
          $ref: "#/components/responses/Unauthorized"
        404:
          $ref: "#/components/responses/NotFound"
    post:
      summary: Returns the newly created comment on success
      tags:
        - tracks
      parameters:
        - $ref: "#/components/parameters/track_urn"
      requestBody:
        description: |
          Body of a comment
        required: true
        content:
          application/json; charset=utf-8:
            schema:
              type: object
              properties:
                comment:
                  type: object
                  properties:
                    body:
                      type: string
                      description: Comment's content
                      example: test comment
                    timestamp:
                      description: Timestamp of a comment. String or float representation is supported
                      oneOf:
                        - type: string
                        - type: number
                  required:
                    - body
      responses:
        201:
          $ref: "#/components/responses/Comment"
        422:
          $ref: "#/components/responses/UnprocessableEntity"
        429:
          $ref: "#/components/responses/TooManyRequests"
  /tracks/{track_urn}/favoriters:
    get:
      summary: Returns a list of users who have favorited or liked the track.
      tags:
        - tracks
      parameters:
        - $ref: "#/components/parameters/track_urn"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/linked_partitioning"
      responses:
        200:
          $ref: "#/components/responses/Users"
        401:
          $ref: "#/components/responses/Unauthorized"
        404:
          $ref: "#/components/responses/NotFound"
  /tracks/{track_urn}/reposters:
    get:
      summary: Returns a collection of track's reposters.
      tags:
        - tracks
      parameters:
        - $ref: "#/components/parameters/track_urn"
        - $ref: "#/components/parameters/limit"
      responses:
        200:
          $ref: "#/components/responses/Users"
        401:
          $ref: "#/components/responses/Unauthorized"
        404:
          $ref: "#/components/responses/NotFound"
  /tracks/{track_urn}/related:
    get:
      summary: Returns all related tracks of track on SoundCloud.
      tags:
        - tracks
      parameters:
        - $ref: "#/components/parameters/track_urn"
        - $ref: "#/components/parameters/access"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/linked_partitioning"
      responses:
        200:
          $ref: "#/components/responses/Tracks"
        401:
          $ref: "#/components/responses/Unauthorized"
        404:
          $ref: "#/components/responses/NotFound"
  /resolve:
    get:
      summary: Resolves soundcloud.com and on.soundcloud.com URLs to Resource URLs to use with the API.
      tags:
        - miscellaneous
      parameters:
        - $ref: "#/components/parameters/url"
      responses:
        302:
          $ref: "#/components/responses/Found"
        404:
          $ref: "#/components/responses/NotFound"
  /users/{user_urn}:
    get:
      summary: Returns a user.
      tags:
        - users
      parameters:
        - $ref: "#/components/parameters/user_urn"
      responses:
        200:
          $ref: "#/components/responses/User"
        401:
          $ref: "#/components/responses/Unauthorized"
        404:
          $ref: "#/components/responses/NotFound"
  /users/{user_urn}/related:
    get:
      summary: Returns related artist recommendations for a user on SoundCloud.
      tags:
        - users
      parameters:
        - $ref: "#/components/parameters/user_urn"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/linked_partitioning"
      responses:
        200:
          $ref: "#/components/responses/Users"
        401:
          $ref: "#/components/responses/Unauthorized"
        404:
          $ref: "#/components/responses/NotFound"
  /users/{user_urn}/favorites:
    get:
      summary: Returns a list of user's favorited or liked tracks. (use /users/:userId/likes/tracks instead, to fetch a user's likes)
      deprecated: true
      tags:
        - users
      parameters:
        - $ref: "#/components/parameters/user_urn"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/linked_partitioning"
      responses:
        200:
          $ref: "#/components/responses/Tracks"
        401:
          $ref: "#/components/responses/Unauthorized"
  /users/{user_urn}/followers:
    get:
      summary: Returns a list of user’s followers.
      description: Returns a list of users that follows (user_urn).
      tags:
        - users
      parameters:
        - $ref: "#/components/parameters/user_urn"
        - $ref: "#/components/parameters/limit"
      responses:
        200:
          $ref: "#/components/responses/Users"
        401:
          $ref: "#/components/responses/Unauthorized"
  /users/{user_urn}/followings:
    get:
      summary: Returns a list of user’s followings.
      description: Returns list of users that (user_urn) follows.
      tags:
        - users
      parameters:
        - $ref: "#/components/parameters/user_urn"
        - $ref: "#/components/parameters/limit"
      responses:
        200:
          $ref: "#/components/responses/Users"
        401:
          $ref: "#/components/responses/Unauthorized"
  /users/{user_urn}/followings/{following_urn}:
    get:
      summary: Returns a user's following. (use /users/{user_urn} instead, to fetch the user details)
      description: Returns (following_id) that is followed by (user_urn).
      deprecated: true
      tags:
        - users
      parameters:
        - $ref: "#/components/parameters/user_urn"
        - $ref: "#/components/parameters/following_urn"
      responses:
        200:
          $ref: "#/components/responses/User"
        401:
          $ref: "#/components/responses/Unauthorized"
        404:
          $ref: "#/components/responses/NotFound"
  /users/{user_urn}/playlists:
    get:
      summary: Returns a list of user's playlists.
      tags:
        - users
      parameters:
        - $ref: "#/components/parameters/user_urn"
        - $ref: "#/components/parameters/access"
        - $ref: "#/components/parameters/show_tracks"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/linked_partitioning"
      responses:
        200:
          $ref: "#/components/responses/Playlists"
        401:
          $ref: "#/components/responses/Unauthorized"
  /users/{user_urn}/tracks:
    get:
      summary: Returns a list of user's tracks.
      tags:
        - users
      parameters:
        - $ref: "#/components/parameters/user_urn"
        - $ref: "#/components/parameters/access"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/linked_partitioning"
      responses:
        200:
          $ref: "#/components/responses/Tracks"
        401:
          $ref: "#/components/responses/Unauthorized"
  /users/{user_urn}/web-profiles:
    get:
      summary: Returns list of user's links added to their profile (website, facebook, instagram).
      tags:
        - users
      parameters:
        - $ref: "#/components/parameters/user_urn"
        - $ref: "#/components/parameters/limit"
      responses:
        200:
          $ref: "#/components/responses/WebProfiles"
        401:
          $ref: "#/components/responses/Unauthorized"
  /users/{user_urn}/likes/tracks:
    get:
      summary: Returns a list of user's liked tracks.
      tags:
        - users
      parameters:
        - $ref: "#/components/parameters/user_urn"
        - $ref: "#/components/parameters/access"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/linked_partitioning"
      responses:
        200:
          $ref: "#/components/responses/Tracks"
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        404:
          $ref: "#/components/responses/NotFound"
  /users/{user_urn}/likes/playlists:
    get:
      summary: Returns a list of user's liked playlists.
      tags:
        - users
      parameters:
        - $ref: "#/components/parameters/user_urn"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/linked_partitioning"
      responses:
        200:
          $ref: "#/components/responses/Playlists"
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        404:
          $ref: "#/components/responses/NotFound"
  /users/{user_urn}/reposts/tracks:
    get:
      summary: Returns a list of user's track reposts.
      tags:
        - users
        - reposts
      parameters:
        - $ref: "#/components/parameters/user_urn"
        - $ref: "#/components/parameters/access"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/linked_partitioning"
      responses:
        200:
          $ref: "#/components/responses/Tracks"
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        404:
          $ref: "#/components/responses/NotFound"
  /users/{user_urn}/reposts/playlists:
    get:
      summary: Returns a list of user's playlist reposts.
      tags:
        - users
        - reposts
      parameters:
        - $ref: "#/components/parameters/user_urn"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/linked_partitioning"
      responses:
        200:
          $ref: "#/components/responses/Playlists"
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        404:
          $ref: "#/components/responses/NotFound"
  /likes/tracks/{track_urn}:
    post:
      summary: Likes a track.
      tags:
        - likes
      parameters:
        - $ref: "#/components/parameters/test_track_urn"
      responses:
        200:
          $ref: "#/components/responses/Success"
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        404:
          $ref: "#/components/responses/NotFound"
        429:
          $ref: "#/components/responses/TooManyRequests"
    delete:
      summary: Unlikes a track.
      tags:
        - likes
      parameters:
        - $ref: "#/components/parameters/test_track_urn"
      responses:
        200:
          $ref: "#/components/responses/Success"
        400:
          $ref: "#/components/responses/BadRequest"
        404:
          $ref: "#/components/responses/NotFound"
  /likes/playlists/{playlist_urn}:
    post:
      summary: Likes a playlist.
      tags:
        - likes
      parameters:
        - $ref: "#/components/parameters/playlist_urn"
      responses:
        200:
          $ref: "#/components/responses/Success"
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        404:
          $ref: "#/components/responses/NotFound"
        429:
          $ref: "#/components/responses/TooManyRequests"
    delete:
      summary: Unlikes a playlist.
      tags:
        - likes
      parameters:
        - $ref: "#/components/parameters/playlist_urn"
      responses:
        200:
          $ref: "#/components/responses/Success"
        400:
          $ref: "#/components/responses/BadRequest"
        404:
          $ref: "#/components/responses/NotFound"
  /reposts/tracks/{track_urn}:
    post:
      summary: Reposts a track as the authenticated user
      tags:
        - reposts
      parameters:
        - $ref: "#/components/parameters/test_track_urn"
      responses:
        201:
          description: Created
        401:
          $ref: "#/components/responses/Unauthorized"
        404:
          $ref: "#/components/responses/NotFound"
    delete:
      summary: Removes a repost on a track as the authenticated user
      deprecated: true
      tags:
        - reposts
      parameters:
        - $ref: "#/components/parameters/test_track_urn"
      responses:
        200:
          description: Success
        401:
          $ref: "#/components/responses/Unauthorized"
        404:
          $ref: "#/components/responses/NotFound"
  /reposts/playlists/{playlist_urn}:
    post:
      summary: Reposts a playlist as the authenticated user
      tags:
        - reposts
      parameters:
        - $ref: "#/components/parameters/repost_playlist_urn"
      responses:
        201:
          description: Created
        401:
          $ref: "#/components/responses/Unauthorized"
        404:
          $ref: "#/components/responses/NotFound"
    delete:
      summary: Removes a repost on a playlist as the authenticated user
      tags:
        - reposts
      parameters:
        - $ref: "#/components/parameters/repost_playlist_urn"
      responses:
        200:
          description: Success
        401:
          $ref: "#/components/responses/Unauthorized"
        404:
          $ref: "#/components/responses/NotFound"
  /sign-out:
    post:
      summary: invalidates session associated with current token
      responses:
        200:
          description: Success
components:
  parameters:
    $ref: "./components/parameters.yaml"
  securitySchemes:
    $ref: "./components/securitySchemes.yaml"
  schemas:
    OAuthToken:
      $ref: "./components/schemas/OAuthToken.yaml"
    TrackMetadataRequest:
      $ref: "./components/schemas/TrackMetadataRequest.yaml"
    Storefront:
      $ref: "./components/schemas/Storefront.yaml"
    StorefrontUpdateRequest:
      $ref: "./components/schemas/StorefrontUpdateRequest.yaml"
    CreateUpdatePlaylistRequest:
      $ref: "./components/schemas/CreateUpdatePlaylistRequest.yaml"
    CreateUpdatePlaylistFormRequest:
      $ref: "./components/schemas/CreateUpdatePlaylistFormRequest.yaml"
    TrackDataRequest:
      $ref: "./components/schemas/TrackDataRequest.yaml"
    TrackUpdateFormRequest:
      $ref: "./components/schemas/TrackUpdateFormRequest.yaml"
    Found:
      type: object
      properties:
        status:
          type: string
          description: Status code.
        location:
          type: string
          description: Location URL of the resource.
    Error:
      $ref: "./components/schemas/Error.yaml"
    TooManyRequests:
      allOf:
        - $ref: "#/components/schemas/Error"
        - type: object
          properties:
            spam_warning_urn:
              type: string
    User:
      $ref: "./components/schemas/User.yaml"
    Me:
      $ref: "./components/schemas/Me.yaml"
    Users:
      type: object
      properties:
        collection:
          type: array
          items:
            $ref: "#/components/schemas/User"
        next_href:
          type: string
    Track:
      $ref: "./components/schemas/Track.yaml"
    Tracks:
      type: object
      properties:
        collection:
          type: array
          items:
            $ref: "#/components/schemas/Track"
        next_href:
          type: string
    TracksList:
      deprecated: true
      type: array
      items:
        $ref: "#/components/schemas/Track"
    Playlist:
      $ref: "./components/schemas/Playlist.yaml"
    Playlists:
      type: object
      properties:
        collection:
          type: array
          items:
            $ref: "#/components/schemas/Playlist"
        next_href:
          type: string
    PlaylistsArray:
      deprecated: true
      type: array
      items:
        $ref: "#/components/schemas/Playlist"
    Activities:
      $ref: "./components/schemas/Activities.yaml"
    WebProfiles:
      $ref: "./components/schemas/WebProfiles.yaml"
    Comment:
      $ref: "./components/schemas/Comment.yaml"
    Comments:
      type: object
      properties:
        collection:
          type: array
          items:
            $ref: "#/components/schemas/Comment"
        next_href:
          type: string
          nullable: true
    Streams:
      $ref: "./components/schemas/Streams.yaml"
  responses:
    $ref: "./components/responses.yaml"
  examples:
    Activities:
      $ref: "./components/examples/Activities.yaml"
    ExpiringToken:
      $ref: "./components/examples/ExpiringToken.yaml"
    CreateUpdatePlaylistRequest:
      $ref: "./components/examples/CreateUpdatePlaylistRequest.yaml"
    CreateUpdatePlaylistFormRequest:
      $ref: "./components/examples/CreateUpdatePlaylistFormRequest.yaml"
    TrackDataRequest:
      $ref: "./components/examples/TrackDataRequest.yaml"
    Comment:
      $ref: "./components/examples/Comment.yaml"
    Comments:
      value:
        collection:
          $ref: "#/components/examples/Comment/value"
        next_href: https://api.soundcloud.com/collection?page_size=10&cursor=1234567
    Playlist:
      $ref: "./components/examples/Playlist.yaml"
    Playlists:
      value:
        collection:
          $ref: "#/components/examples/Playlist/value"
        next_href: https://api.soundcloud.com/collection?page_size=10&cursor=1234567
    PlaylistsArray:
      description: Deprecated, use Playlists instead.
      value:
        $ref: "#/components/examples/Playlist/value"
    Streams:
      $ref: "./components/examples/Streams.yaml"
    Track:
      $ref: "./components/examples/Track.yaml"
    Tracks:
      value:
        collection:
          $ref: "#/components/examples/Track/value"
        next_href: https://api.soundcloud.com/collection?page_size=10&cursor=1234567
    TracksList:
      description: Deprecated, use Tracks instead.
      value:
        $ref: "#/components/examples/Track/value"
    User:
      $ref: "./components/examples/User.yaml"
    Users:
      value:
        collection:
          $ref: "#/components/examples/User/value"
        next_href: https://api.soundcloud.com/collection?page_size=10&cursor=1234567
    WebProfiles:
      $ref: "./components/examples/WebProfiles.yaml"
    Success:
      value:
        status: 200 - OK
    Successful:
      value:
        status: 200 - Successful
    Accepted:
      value:
        status: 202 - Accepted
    Created:
      value:
        status: 201 - Created
    ErrorUnsupportedGrant:
      value:
        code: 400
        message: unsupported_grant
        link: https://developers.soundcloud.com/docs/api/guide#authentication
    BadRequest:
      value:
        code: 400
        message: Detailed message of errors, when available
        link: https://developers.soundcloud.com/docs/api/explorer/open-api
    ErrorInvalidGrant:
      value:
        code: 400
        message: invalid_grant
        link: https://developers.soundcloud.com/docs/api/guide#authentication
    Unauthorized:
      value:
        code: 401
        message: Detailed message of errors, when available
        link: https://developers.soundcloud.com/docs/api/explorer/open-api
    ErrorInvalidScope:
      value:
        code: 401
        message: invalid_scope
        link: https://developers.soundcloud.com/docs/api/guide#authentication
    ErrorInvalidClient:
      value:
        code: 401
        message: invalid_client
        link: https://developers.soundcloud.com/docs/api/guide#authentication
    ErrorUnauthorizedClient:
      value:
        code: 401
        message: unauthorized_client
        link: https://developers.soundcloud.com/docs/api/guide#authentication
    Forbidden:
      value:
        code: 403
        message: Detailed message of errors, when available
        link: https://developers.soundcloud.com/docs/api/explorer/open-api
    NotFound:
      value:
        code: 404
        message: Detailed message of errors, when available
        link: https://developers.soundcloud.com/docs/api/explorer/open-api
    UnprocessableEntity:
      value:
        code: 422
        message: Detailed message of errors, when available
        link: https://developers.soundcloud.com/docs/api/explorer/open-api
    TooManyRequests:
      value:
        code: 429
        message: Detailed message of errors, when available
        spam_warning_urn: soundcloud:spam-warnings:1
        link: https://developers.soundcloud.com/docs/api/rate-limits#errors
    OK:
      value:
        status: Status(200) - OK
    TrackMetadataRequest:
      value:
        track[title]: Updated Test Track
