openapi: 3.0.1
info:
  title: SoundCloud Public API Specification
  description: "API Public OpenAPI Draft"
  contact:
    name: Public API strangler
  version: 2.2.2
  termsOfService: https://developers.soundcloud.com/docs/api/terms-of-use
servers:
  - url: https://api.soundcloud.com
paths:
  /me:
    get:
      summary: Returns an authenticated user’s information.
      tags:
        - me
      security:
        - ClientId: []
          AuthHeader: []
      responses:
        200:
          description: Success
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/User"
        404:
          description: The user could not be found
    put:
      summary: Returns ?.
      tags:
        - me
      security:
        - ClientId: []
          AuthHeader: []
      responses:
        200:
          description: Success
  /me/activities:
    get:
      summary: Returns a list of activities.
      tags:
        - me
      security:
        - ClientId: []
          AuthHeader: []
      responses:
        200:
          description: Success
  /me/activities/all:
    get:
      summary: Returns a list of activities.
      tags:
        - me
      security:
        - ClientId: []
          AuthHeader: []
      responses:
        200:
          description: Success
  /me/activities/all/own:
    get:
      summary: Returns a list of activities that requesting user owns.
      tags:
        - me
      security:
        - ClientId: []
          AuthHeader: []
      responses:
        200:
          description: Success
  /me/activities/tracks:
    get:
      summary: Returns a list of tracks' activities.
      tags:
        - me
      security:
        - ClientId: []
          AuthHeader: []
      responses:
        200:
          description: Success
  /me/activities/tracks/{tag}:
    get:
      summary: Returns a list of tracks activities.
      tags:
        - me
      security:
        - ClientId: []
          AuthHeader: []
      parameters:
        - $ref: '#/components/parameters/tag'
      responses:
        200:
          description: Success
  /me/followings:
    get:
      summary: Returns list of followings users.
      tags:
        - me
      security:
        - ClientId: []
          AuthHeader: []
      responses:
        200:
          description: Success
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/UserFollowings"
        404:
          description: The user could not be found
  /me/followings/tracks:
    get:
      summary: Returns list of tracks.
      tags:
        - me
      security:
        - ClientId: []
          AuthHeader: []
      responses:
        200:
          description: Success
  /me/followers:
    get:
      summary: Returns list of followers users.
      tags:
        - me
      security:
        - ClientId: []
          AuthHeader: []
      responses:
        200:
          description: Success
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/UserFollowers"
        404:
          description: The user could not be found
  /me/favorites:
    get:
      summary: Returns a list of favorite tracks.
      tags:
        - me
      security:
        - ClientId: []
          AuthHeader: []
      responses:
        200:
          description: Success
  /me/favorites/{track_id}:
    get:
      summary: Returns favorite track.
      tags:
        - me
      security:
        - ClientId: []
          AuthHeader: []
      parameters:
        - $ref: '#/components/parameters/track_id'
      responses:
        200:
          description: Success
        404:
          description: Not Found
          content:
            application/json:
              examples:
                default:
                  $ref: '#/components/examples/Error404'
    post:
      summary: Post favorite track. 
      tags:
        - me
      security:
        - ClientId: []
          AuthHeader: []
      parameters:
        - $ref: '#/components/parameters/track_id'
      responses:
        200:
          description: Success
    put:
      summary: Put favorite track. 
      tags:
        - me
      security:
        - ClientId: []
          AuthHeader: []
      parameters:
        - $ref: '#/components/parameters/track_id'
      responses:
        200:
          description: Success
    delete:
      summary: Delete favorite track. 
      tags:
        - me
      security:
        - ClientId: []
          AuthHeader: []
      parameters:
        - $ref: '#/components/parameters/track_id'
      responses:
        200:
          description: Success
  /me/favorites/ids:
    get:
      summary: Returns user’s favorites ids.
      tags:
        - me
      security:
        - ClientId: []
          AuthHeader: []
      responses:
        200:
          description: Success
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/UserFavoritesId"
        404:
          description: The user could not be found
  /me/playlists:
    get:
      summary: Returns user’s playlists.
      description: return playlist info, playlist tracks and tracks owner info
      tags:
        - me
      security:
        - ClientId: []
          AuthHeader: []
      responses:
        200:
          description: Success
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/UserPlaylists"
        404:
          description: The user could not be found
    post:
      summary: Returns user’s favorites ids.
      tags:
        - me
      security:
        - ClientId: []
          AuthHeader: []
      responses:
        200:
          description: Success
  /me/playlists/{playlist_id}:
    get:
      summary: Returns playlist.
      tags:
        - me
      security:
        - ClientId: []
          AuthHeader: []
      parameters:
        - $ref: '#/components/parameters/playlist_id'
      responses:
        200:
          description: Success
    put:
      summary: Returns favorite track.
      tags:
        - me
      security:
        - ClientId: []
          AuthHeader: []
      parameters:
        - $ref: '#/components/parameters/playlist_id'
      responses:
        200:
          description: Success
  /me/followers/{other_id}:
    get:
      summary: Returns follower user.
      tags:
        - me
      security:
        - ClientId: []
          AuthHeader: []
      parameters:
        - $ref: '#/components/parameters/other_id'
        - $ref: '#/components/parameters/limit'
      responses:
        200:
          description: Success
          content:
            application/json:
              examples:
                default:
                  $ref: '#/components/examples/User'
        404:
          description: Not Found
        503:
          description: Service Unavailable
  /me/followings/{other_id}:
    get:
      summary: Returns following user.
      tags:
        - me
      security:
        - ClientId: []
          AuthHeader: []
      parameters:
        - $ref: '#/components/parameters/other_id'
        - $ref: '#/components/parameters/limit'
      responses:
        200:
          description: Success
          content:
            application/json:
              examples:
                default:
                  $ref: '#/components/examples/User'
        404:
          description: Not Found
        503:
          description: Service Unavailable
    post:
      summary: Endpoint to follow another user
      tags:
        - me
      security:
        - ClientId: []
          AuthHeader: []
      parameters:
        - $ref: '#/components/parameters/other_id'
      responses:
        201:
          description: Success
          content:
            application/json:
              examples:
                200:
                  $ref: '#/components/examples/OK'
                201:
                  $ref: '#/components/examples/User'
        404:
          description: Not Found
          content:
            application/json:
              examples:
                default:
                  $ref: '#/components/examples/Error404'
        500:
          description: Internal Server Error
    put:
      summary: Follow user
      tags:
        - me
      security:
        - ClientId: []
          AuthHeader: []
      parameters:
        - $ref: "#/components/parameters/other_id"
      responses:
        200:
          description: Success
          content:
            application/json:
              examples:
                default:
                  $ref: '#/components/examples/User'
        401:
          description: Unauthorized
        404:
          description: Not Found
          content:
            application/json:
              examples:
                default:
                  $ref: '#/components/examples/Error404'
        500:
          description: Internal Server Error
    delete:
      summary: Unfollw user
      tags:
        - me
      security:
        - ClientId: []
          AuthHeader: []
      parameters:
        - $ref: "#/components/parameters/other_id"
      responses:
        200:
          description: Success
          content:
            application/json:
              examples:
                default:
                  $ref: '#/components/examples/OK'
        401:
          description: Unauthorized
        404:
          description: Not Found
          content:
            application/json:
              examples:
                default:
                  $ref: '#/components/examples/Error404'
        500:
          description: Internal Server Error
  /me/tracks:
    get:
      summary: Returns a list of tracks.
      tags:
        - me
      security:
        - ClientId: []
          AuthHeader: []
      responses:
        200:
          description: Success
  /me/tracks/{track_id}:
    get:
      summary: Returns a list of tracks.
      tags:
        - me
      security:
        - ClientId: []
          AuthHeader: []
      parameters:
        - $ref: '#/components/parameters/track_id'
      responses:
        200:
          description: Success
  /tracks:
    get:
      summary: Returns ???.
      tags:
        - tracks
      security:
        - ClientId: []
          AuthHeader: []
      responses:
        200:
          description: Success
    # post:
    #   summary: Returns ???.
    #   tags:
    #     - tracks
    #   security:
    #     - ClientId: []
    #       AuthHeader: []
    #   responses:
    #     200:
    #       description: Success
  /tracks/{track_id}:
    get:
      summary: Returns ???.
      tags:
        - tracks
      security:
        - ClientId: []
          AuthHeader: []
      parameters:
        - $ref: '#/components/parameters/track_id'
      responses:
        200:
          description: Success
    # put:
    #   summary: Returns ???.
    #   tags:
    #     - tracks
    #   security:
    #     - ClientId: []
    #       AuthHeader: []
    #   parameters:
    #     - $ref: '#/components/parameters/track_id'
    #   responses:
    #     200:
    #       description: Success
    # delete:
    #   summary: Returns ???.
    #   tags:
    #     - tracks
    #   security:
    #     - ClientId: []
    #       AuthHeader: []
    #   parameters:
    #     - $ref: '#/components/parameters/track_id'
    #   responses:
    #     200:
    #       description: Success
  /tracks/{track_id}/comments:
    get:
      summary: Returns the comments posted for the given track with id `track_id`.
      tags:
        - tracks
      security:
        - ClientId: []
          AuthHeader: []
      parameters:
        - $ref: '#/components/parameters/track_id'
      responses:
        200:
          description: Success
    # post:
    #   summary: Returns ???.
    #   tags:
    #     - tracks
    #   security:
    #     - ClientId: []
    #       AuthHeader: []
    #   parameters:
    #     - $ref: '#/components/parameters/track_id'
    #   responses:
    #     200:
    #       description: Success
  # /tracks/{track_id}/comments/{comment_id}:
  #   get:
  #     summary: Returns ???.
  #     tags:
  #       - tracks
  #     security:
  #       - ClientId: []
  #         AuthHeader: []
  #     parameters:
  #       - $ref: '#/components/parameters/track_id'
  #       - $ref: '#/components/parameters/comment_id'
  #     responses:
  #       200:
  #         description: Success
  #   delete:
  #     summary: Returns ???.
  #     tags:
  #       - tracks
  #     security:
  #       - ClientId: []
  #         AuthHeader: []
  #     parameters:
  #       - $ref: '#/components/parameters/track_id'
  #       - $ref: '#/components/parameters/comment_id'
  #     responses:
  #       200:
  #         description: Success
  # /tracks/{track_id}/download:
  #   get:
  #     summary: Returns ???.
  #     tags:
  #       - tracks
  #     security:
  #       - ClientId: []
  #         AuthHeader: []
  #     parameters:
  #       - $ref: '#/components/parameters/track_id'
  #     responses:
  #       200:
  #         description: Success
  /tracks/{track_id}/favoriters:
    get:
      summary: Returns ???.
      tags:
        - tracks
      security:
        - ClientId: []
          AuthHeader: []
      parameters:
        - $ref: '#/components/parameters/track_id'
      responses:
        200:
          description: Success
  /tracks/{track_id}/favoriters/{user_id}:
    get:
      summary: Returns ???.
      tags:
        - tracks
      security:
        - ClientId: []
          AuthHeader: []
      parameters:
        - $ref: '#/components/parameters/track_id'
        - $ref: '#/components/parameters/user_id'
      responses:
        200:
          description: Success
  /tracks/{track_id}/related:
    get:
      summary: Returns ???.
      tags:
        - tracks
      security:
        - ClientId: []
          AuthHeader: []
      parameters:
        - $ref: '#/components/parameters/track_id'
      responses:
        200:
          description: Success
  /tracks/{track_id}/streams:
    get:
      summary: Returns ???.
      tags:
        - tracks
      security:
        - ClientId: []
          AuthHeader: []
      parameters:
        - $ref: '#/components/parameters/track_id'
      responses:
        200:
          description: Success
  /users/{user_id}/followings:
    get:
      summary: Returns user’s list of followings users.
      tags:
        - user
      security:
        - ClientId: []
          AuthHeader: []
      parameters:
        - $ref: '#/components/parameters/user_id'
        - $ref: '#/components/parameters/limit'
      responses:
        200:
          description: Success
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/UserFollowings"
        404:
          description: The user could not be found
  /users/{user_id}/followers:
    get:
      summary: Returns user’s list of followers users.
      tags:
        - user
      security:
        - ClientId: []
          AuthHeader: []
      parameters:
        - $ref: '#/components/parameters/user_id'
        - $ref: '#/components/parameters/limit'
      responses:
        200:
          description: Success
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/UserFollowers"
        404:
          description: The user could not be found
  /users/{user_id}/followers/{other_id}:
    get:
      summary: Return user's follower user info.
      description: Returns other user info if he follow the first one.
      tags:
        - user
      security:
        - ClientId: []
          AuthHeader: []
      parameters:
        - $ref: '#/components/parameters/user_id'
        - $ref: '#/components/parameters/other_id'
      responses:
        200:
          description: Success
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/User"
        404:
          description: Not Found
  /users/{user_id}/followings/{other_id}:
    get:
      summary: Return user's followings user info.
      description: Returns other user info if he follow the first one.
      tags:
        - user
      security:
        - ClientId: []
          AuthHeader: []
      parameters:
        - $ref: '#/components/parameters/user_id'
        - $ref: '#/components/parameters/other_id'
      responses:
        200:
          description: Success
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/User"
        404:
          description: Not Found
components:
  parameters:
    user_id:
      in: path
      name: user_id
      required: true
      schema:
        type: integer
      description: SoundCloud User id
    other_id:
      in: path
      name: other_id
      required: true
      schema:
        type: integer
      description: SoundCloud User id
    track_id:
      in: path
      name: track_id
      required: true
      schema:
        type: integer
      description: SoundCloud Track id
    comment_id:
      in: path
      name: comment_id
      required: true
      schema:
        type: integer
      description: SoundCloud comment id
    playlist_id:
      in: path
      name: playlist_id
      required: true
      schema:
        type: integer
      description: SoundCloud playlist id
    tag:
      in: path
      name: tag
      required: true
      schema:
        type: string
      description: tag
    limit:
      in: query
      name: limit
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 10
      description: Number of results to return in the collection.
  securitySchemes:
    ClientId:
      in: query
      type: apiKey
      name: client_id
      description: Your product key. This is not the same as the API key used for most requests
    AuthHeader:
      in: header
      type: apiKey
      name: Authorization
      description: 'The string "OAuth " followed by the user’s token: OAuth ACCESS_TOKEN'
  examples:
    OK:
      value:
        status: Status(200) - OK
    Created:
      value:
        status: 201 - Created
    User:
      value:
        id: 12345
        kind: user
        uri: https://api.soundcloud.com/users/1234
        permalink_url: https://soundcloud.com/permalink
        avatar_url: https://i1.sndcdn.com/avatars.jpg
        permalink: permalink
        username: some.user
        last_modified: 2020/01/03 12:08:25 +0000
        first_name: First_name
        last_name: Last_name
        full_name: Full Name
        country: Country
        city: City
        discogs_name:
        myspace_name:
        website:
        website_title:
        track_count: 0
        playlist_count: 3
        online: false
        plan: Free
        public_favorites_count: 20
        followers_count: 0
        followings_count: 0
        reposts_count: 0
        comments_count: 9
        description: 
        likes_count: 0
        subscriptions:
          - product:
              id: some-id
              name: some.name
        upload_seconds_left: 10800
        quota:
          unlimited_upload_quota: false
          upload_seconds_used: 0
          upload_seconds_left: 10800
        private_tracks_count: 0
        private_playlists_count: 0
        primary_email_confirmed: true
        locale: en
    UserFollowings:
      value:
        collection:
          - 
            allOf:
              - $ref: "#/components/examples/User/value"
        next_href: https://api.soundcloud.com/users/1234/followings?client_id=client_id&page_size=10&cursor=1234567
    UserFollowers:
      value:
        collection:
          - 
            allOf:
              - $ref: "#/components/examples/User/value"
        next_href: https://api.soundcloud.com/users/1234/followers?client_id=client_id&page_size=10&cursor=1234567
    UserFavoritesId:
      value:
        - 1234
        - 5678
        - 3456
    UserPlaylists:
      value:
        - duration: 110000
          release_day: 
          permalink_url: https://soundcloud.com/permalink/sets/club
          genre: ''
          permalink: permalink
          purchase_url: 
          release_month: 
          description: 
          tags: ''
          uri: https://api.soundcloud.com/playlists/12345
          label_name: 
          label: 
          tag_list: ''
          release_year: 
          track_count: 1
          user_id: 1234
          last_modified: 2020/01/08 09:13:00 +0000
          license: all-rights-reserved
          tracks:
          - kind: track
            id: 123456
            created_at: 2019/01/15 15:40:49 +0000
            user_id: 1234567
            duration: 40000
            commentable: true
            comment_count: 4
            state: finished
            original_content_size: 71698112
            last_modified: 2020/02/05 05:56:22 +0000
            sharing: public
            tag_list: ''
            permalink: permalink
            streamable: true
            embeddable_by: all
            purchase_url: 
            purchase_title: 
            label_id: 
            genre: Rock
            title: Some title
            description: 
            label_name: some label
            release: 
            track_type: 
            key_signature: 
            isrc: 
            video_url: 
            bpm: 
            release_year: 2019
            release_month: 8
            release_day: 22
            original_format: wav
            license: all-rights-reserved
            uri: https://api.soundcloud.com/tracks/1234
            user:
              id: 12345
              kind: user
              permalink: permalink
              username: user.name
              last_modified: 2020/01/10 21:36:49 +0000
              uri: https://api.soundcloud.com/users/12345
              permalink_url: https://soundcloud.com/permalink
              avatar_url: https://i1.sndcdn.com/avatars.jpg
            user_uri: https://api.soundcloud.com/users/12345
            permalink_url: https://soundcloud.com/userPermalink/trackPermalink
            artwork_url: https://i1.sndcdn.com/artworks-large.jpg
            stream_url: https://api.soundcloud.com/tracks/12345/stream
            download_url: https://api.soundcloud.com/tracks/12345/download
            waveform_url: https://wave.sndcdn.com/someString.png
            domain_lockings: 
            available_country_codes: 
            label: 
            secret_token: 
            secret_uri: 
            user_favorite: true
            user_playback_count: 1
            playback_count: 8027
            download_count: 0
            favoritings_count: 271
            reposts_count: 18
            downloadable: false
            downloads_remaining: 
          playlist_type: ''
          id: 12345
          tracks_uri: https://api.soundcloud.com/playlists/12345/tracks
          downloadable: 
          sharing: public
          created_at: 2020/01/16 16:09:54 +0000
          release: 
          likes_count: 0
          kind: playlist
          title: some title
          type: ''
          purchase_title: 
          artwork_url: ''
          ean: 
          streamable: true
          user:
            permalink_url: https://soundcloud.com/permalink
            permalink: permalink
            username: user.name
            uri: https://api.soundcloud.com/users/12345
            last_modified: 2020/09/03 14:08:25 +0000
            id: 12345
            kind: user
            avatar_url: https://i1.sndcdn.com/avatars-large.jpg
          embeddable_by: all
          label_id:
    Error404:
      value:
        errors:
        - error_message: 404 - Not Found
